<h1>hello world</h1>


<%# language.topics.forEach(function(t) { %>
  <%#if (t.name == topic.name) {%>
    <%# t.questions.forEach(function(q) { %>
      <%#= q.question %>
    <%# });%>
  <%# }%>
<%# }); %>
