<div class="wrapper" id="languages">
  <h3 class="text-center">Choose a topic</h3>
  <br>
  <div class="container">
    <div class="row">
       <% topics.forEach((topic)=>{ %>
  <div class="col-xs-12 col-sm-3">

        <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/public/img/topics/<%= topic.name %>.jpg'); height: 400px;">
            <div class="card-category"><%= topic.difficulty %></div>
            <div class="card-description">
              <h2><%= topic.name %></h2>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
  <% }) %>




              </div>
            </div>
          </div>
